.myButton {
    -fx-background-color: rgba(23, 19, 21, 0);
    -fx-text-fill: #000000;
    -fx-font-family: Arial;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 10px 15px;
    -fx-max-width: 300000000;

}

.myButton:hover {
    -fx-background-color: rgba(109, 102, 126, 0.6);

}

.myButton:pressed {
    -fx-background-color: rgb(109, 102, 126);
    -fx-translate-y:2px;
}

#searchButton, #clearButton {
    -fx-max-width: 70;
}