#tourLogList{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
*{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.tab-pane .tab .tab-label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.tab-text {
     -fx-text-fill: black;
     -fx-font-weight: bold;
 }