.list-cell:even {
    -fx-background-color: #e1e1e1;
    -fx-text-fill: #000000;

}

.list-cell:odd {
    -fx-background-color: #c0c0c0;
    -fx-text-fill: #000000;
}

.list-cell {
    -fx-text-fill: #000000;
    -fx-font-family: Arial;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-padding: 10px;
}


.list-cell:hover {
    -fx-background-color: rgba(51, 42, 48, 0.44);
}
