.myButton {
    -fx-background-color: #ffc477;
    -fx-background-radius: 6px;
    -fx-border-color: #eeb44f;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
    -fx-text-fill: #ffffff;
    -fx-font-family: Arial;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 6px 24px;
}

.importExportButton:hover {
    -fx-background-color: #fb9e25;
}

.importExportButton:pressed {
    -fx-translate-y:1px;
}
